
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>İstatistikler</h2>
<div class = "Alert alert-danger">Kategori Sayısı: @ViewBag.CategorySayisi </div>
<br />
<div class="Alert alert-danger">Kategori Sayısı: @ViewBag.ProjeSayisi </div>
